body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkgreen;
  height: 100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
  text-align: center ;
  position: absolute;
  color: white;
}
table {
  border-spacing: 0px;
}
.col {
  background-color: blue;
}
.col:hover {
  cursor: pointer;
}
.empty-col {
  background-color: darkgreen;
}
.empty-col:hover {
  cursor: pointer;
}
.chip {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: darkblue;
  margin: 0.25em;
}
.blank-chip {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: darkgreen;
  margin: 0.25em;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#player-message {
  padding: 1em 0.5em;
  border-radius: 25%;
  height: min-content;
  font-size: 18px;
  text-align: center;
  background-color: white;
  color: black;
}
#play-again {
  padding: 1em 0.5em;
  height: min-content;
  visibility: hidden;
}
